
.recharts-wrapper{
	margin: auto;
}

input {
	min-width: 150px;
	margin: 20px;
	height: 30px;
	padding-left: 10px;
}

.stock-list {
	margin: 50px;
}

.stock-div {
	text-align: center;
	display: inline-block;
	margin: 20px;
	border: solid 1px grey;
	border-radius: 8px;
	padding: 10px;
}